DB_USER=fos
DB_PASS=fos
KEYCLOAK_ADMIN=change-me-admin-user
KEYCLOAK_ADMIN_PASSWORD=change-me-keycloak-password
KEYCLOAK_WEBHOOK_SECRET=change-me-webhook
KEYCLOAK_JWKS_URI=http://localhost:8180/realms/fos/protocol/openid-connect/certs
MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
OPA_URL=http://host.docker.internal:8181
OPENSEARCH_INITIAL_ADMIN_PASSWORD=change-me-opensearch-password
ONLYOFFICE_JWT_SECRET=fos-onlyoffice-secret-key-change-in-production
ONLYOFFICE_URL=http://localhost:8090
